body{font-family:Arial;font-size:14px;margin: 0px 0px 0px 0px;background-color:#eeeeee;}
#maindiv{width:950px;}h1{color:Maroon;margin-top:0px;border-bottom:1px solid;font-size:16px}h2{/*color:Maroon;*/}h3{font-size:16px;}ul{font-size:16px;}ul li{margin:10px;}img{border:0px;}
.text{border:1px solid black;background-color:White;margin:0px;height:25px;width:200px;}
.button{border:1px solid black;background-color:#2663a8;color:White;margin:0px;cursor:pointer;padding:7px 15px 15px 15px;height:35px;}
.button_hover{}
div#mainmenu{float:left;padding-top:0px;font-weight:bold;padding-left:10px;padding-right:10px;border-right:2px solid #999999;}div#mainmenu a{color:#999999;text-decoration:none;}div#mainmenu a:hover{color:White;text-decoration:none;}
div#title{color:Maroon;font-weight:bold;border-bottom:1px solid Maroon;width:100%;padding-bottom:2px;margin-bottom:15px;font-size:16px;}
.heading{font-weight:bold;font-size:16px;padding: 10px 0px 2px 0px;margin-bottom:10px;border-bottom:1px solid #aaaaaa;width:auto;}div#history ul{font-size:14px;}.error{color:Red;font-weight:500;}
div#footer{height:50px;background-color:#555555;padding-top:20px;}div#footer div{float:left;padding-left:20px;}div#footer div a{font-size:14px;color:White;}div#sitemap{padding-left:100px;}
fieldset{-moz-border-radius:8px;border-radius: 8px;-webkit-border-radius: 8px;}.corner{border:1px solid;}
.big_blue_round_div{background-color:#376092;border-color:#376092;color:White;width:200px;height:35px;font-size:16px;font-weight:bold;letter-spacing:1px;text-align:center;padding-top:15px;}.big_blue_round_div a{text-decoration:none;color:White;}.big_blue_round_div_hover{background-color:#558ed5;}.small_blue_round_div{background-color:#376092;border-color:#376092;color:White;width:120px;height:27px;padding-top:8px;font-weight:bold;text-align:center;}.small_blue_round_div a{text-decoration:none;color:White;}.small_blue_round_div_hover{background-color:#558ed5;}
.white-text{color:White;}.label{font-size:14px;font-weight:bold;float:left;width:150px;}.left{float:left;}.right{float:right;}.space{clear:both;height:10px;}
#albumimg{padding-left:20px;padding-right:20px;}#albumimg img{border:4px solid #555555;width:100px;}#albumimg img:hover{border:4px solid #000000;}
.gridtitle{font-weight:bold;background-color:#9999ff;color:White;}.gridrow{padding-bottom:10px;}.gridrow div{float:left;}.download{background-image:url(img/action-buttons/download.jpg);float:left;padding-left:30px;padding-top:5px;height:30px;background-repeat:no-repeat;}.songtitle{color:#444444;font-weight:bold;font-size:16px;}
.song{width:300px;padding:5px;float:left;}.lighttext{color:#888888;}.post-row{background-color:#F8F3EF;padding:10px;}.post-altrow{padding:10px;}
.video{width:300px;height:250px;border:1px solid;float:left;}
.feature{padding-left:18px;float:left;}.feature-left{float:left;background-image:url(images/home/box-left-curve-bold.png);width:14px;height:146px;background-repeat:no-repeat;}.feature-mid{float:left;background-image:url(images/home/box-mid-bg.png);width:120px;height:147px;background-repeat:repeat-x;}.feature-right{float:left;background-image:url(images/home/box-right-curve-bold.png);width:14px;height:147px;background-repeat:no-repeat;}.feature-image{padding-top:20px;}.feature-link{text-decoration:none;color:#888888;}.feature-link:hover{color:#000000;}
.mainbox{float:left;text-align:left; background-color:White;width:950px;margin:0px;border:1px solid #111111;padding:0px;padding-top:0px;}
.box1{width:860px;padding-left:40px;}
.box11{background-color:#f2f2f4;border:1px solid #f2f2f4;padding:2px;height:32px;}
.box12{background-color:#4a77bf;color:#b6c6da;}
.homeh1{margin:0px;font-weight:bold;height:30px;font-size:1.5em;color:#b6c6da;}.homeh1 a{text-decoration:none;color:#b6c6da;}
.box2{padding-left:40px}
.box21{width:400px;height:300px;background-color:#444444;position:relative;overflow:hidden;}
.box22{height:25px;background:#222222;color:#aaaaaa;padding-top:5px;}
.box3{padding-left:10px;padding-top:0px;border:0px solid}
.box31{width:445px;height:280px;background:#444444;margin:0px;padding-top:20px}
.box32{color:#ffffff;padding:20px;padding-top:0px;}
.ayyaundu{padding-top:10px;padding-left:200px;}
.box4{width:860px;padding-left:40px;}
.box41{background-color:#f2f2f4;padding:5px;height:200px;}
.box42{background-color:#4a77bf;color:#b6c6da;font-weight:bold;height:30px;font-size:1.5em;}
.videobox{width:300px;float:left}.sspace{clear:both;height:1px}.width50{width:50px}
.rightmenu
{
	background-color:#376092;
	border-color:#376092;
	color:White;
	height:20px;
	font-size:12px;
	font-weight:bold;
	letter-spacing:1px;
	padding:5px 0px 0px 15px;
	text-align:left;
	border-bottom:1px solid #5667aa;
}
.rightmenu a
{
	text-decoration:none;
	color:White;
}
.rightmenu_hover
{
	background-color:#558ed5;
}